@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
 

.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  background: #000;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}
 .wrapper:hover{
    box-shadow: 0 0 20px #0ef;
 }
 

 
button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #000;
    box-shadow: 0 0 15px #0ef;
    animation: animate 1s linear infinite;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
  }
  
  @keyframes animate {
    100% {
      filter: hue-rotate(360deg);
    }
  }
button:hover{
    animation: none;
    background-color: #0ef;
    box-shadow: none;
    
}
a{
    text-decoration: none;
    color: #fff;

}